
    <div class="Preview_row__3Fkye row" style="min-height:32px;width:978px">
      <div data-id="27AE1DE9-A4DF-45F0-B2B5-303B9FF339FD" data-kind="BACKGROUND" style="width:978px;min-height:32px;margin-top:0;margin-left:0" class="Preview_componentWrapper__2i4QI">
        <div data-id="27AE1DE9-A4DF-45F0-B2B5-303B9FF339FD" data-kind="Block" data-specific-kind="BACKGROUND" class=" Preview_block__16Zmu">
          <div class="BackgroundPreview_backgroundComponent__3Dr5e BackgroundPreview_bgHeight__3dD2e hasChildren stretched"
            style="background-image:url(assets/onewebstatic/78dce9fd45.gif);background-color:rgba(255,255,255,1);background-repeat:repeat-x;background-position:50% 0%;background-size:auto;background-attachment:scroll;min-height:32px">
            <div class="Preview_column__1KeVx col" style="min-height:100%">
              <div class="Preview_row__3Fkye row" style="min-height:32px;width:978px">
                <div data-id="A1344B78-35F2-4773-B736-C6914CD10BE3" data-kind="TEXT" style="width:978px;min-height:14px;margin-top:18px;margin-left:0" class="Preview_componentWrapper__2i4QI">
                  <div data-id="A1344B78-35F2-4773-B736-C6914CD10BE3" data-kind="Component" data-specific-kind="TEXT" class=" Preview_component__SbiKo mobileDown">
                    <div class="textnormal styles_text__3jGMu">
                      <p style="text-align: right;" class="mobile-undersized-upper">Copyright © All Rights Reserved</p>
                    </div>
                  </div>
                </div>
              </div>
              <div style="clear:both"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Preview_row__3Fkye row" style="min-height:42px;width:978px">
      <div data-id="64BE60AE-CC5A-453D-8154-09C1E8A4E945" data-kind="BACKGROUND" style="width:978px;min-height:27px;margin-top:15px;margin-left:0" class="Preview_componentWrapper__2i4QI">
        <div data-id="64BE60AE-CC5A-453D-8154-09C1E8A4E945" data-kind="Component" data-specific-kind="BACKGROUND" class="Preview_mobileHide__9T929">
          <div class="BackgroundPreview_backgroundComponent__3Dr5e BackgroundPreview_bgHeight__3dD2e stretched" style="min-height:27px"></div>
        </div>
      </div>
    </div>
  </div>
  <script src="assets/onewebstatic/c7af551ce0.js"></script>
  <script src="assets/onewebstatic/af09b5c73d.js" id="mobileBackgroundLiner" data-params="{&quot;bodyBackgroundClassName&quot;:&quot;bodyBackground&quot;,&quot;linerClassName&quot;:&quot;Preview_bodyBackgroundLiner__1bYbS&quot;}">
  </script>
